# dependências
node_modules/
dist/
.cache/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs/OS
.vscode/
.DS_Store

# envs locais (não vão pro git)
.env
.env.local
.env.*.local